<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/show.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTEPAD APP</title>
</head>
<body>
    
    <div class="first">

        <div class="home">
            <a href="/">GO BACK TO HOME</a>
        </div>

        <h1>
            <%= filename %>
        </h1>

        <div class="para">
            <p>
                <%= filedata %>
            </p>
        </div>
    </div>

    <!-- <script src="/javascripts/script.js"></script> -->
    <footer>
        <div class="foot">
            <b>All Rights To @ Arpit Mahajan.</b>
        </div>
    </footer>
</body>
</html>